.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.titulo span{
    background-color: orange;
    color: white;
    padding: 0.8rem 0.5rem;
    border-radius: 22rem;
}

.header .titulo{
    border-radius: 60rem;
}
.btn-github{
    text-decoration: none;
    background-color: rgb(3, 9, 83);
    color: white;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 3px;
}





